# Build Cache
dist/
build/
node_modules/
.docker-cache/

# Environment
.env
.DS_Store

# OpenTofu
**/.terraform/*
**/.state/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# App data
_DATA/
infra/guacamole/data/

# Certs
certs/*

# Logs
CaddyAccess.log

# Docs stuff
.docusaurus
